<?xml version='1.0' encoding='UTF-8'?>
{% set cfg=azulinho_jenkins_server %}
{% set cloudbees_email_login=cfg['clouds']['cloudbees_cloud_connector_plugin']['email_login'] %}
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials@1.18">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList>
        <com.cloudbees.plugins.registration.CloudBeesUserImpl plugin="cloudbees-registration@3.14">
          <scope>GLOBAL</scope>
          <name>{{ cloudbees_email_login }}</name>
          {# cloudbees_encrypted_password is passed on from the playbook #}
          <password>{{ cloudbees_encrypted_password.stdout }}</password>
        </com.cloudbees.plugins.registration.CloudBeesUserImpl>

        <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.1">
          <scope>GLOBAL</scope>
          <id>604ced81-d912-4a91-a93b-b660dc6fd659</id>
          <description></description>
          <secret>{{ github_pr_secret }}</secret>
        </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>


      </java.util.concurrent.CopyOnWriteArrayList>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>

