<?xml version='1.0' encoding='UTF-8'?>

{% macro getApiToken(username) -%}
{#
This is not working correctly.
Getting the correct secrets used by Jenkins the way they are stored in the
xml config files for the users is tricky.
As we need to execute a groovy script through jenkins in order to retrieve
the encrypted string to store in the jenkins xml file.
It may be worth investigating how to update/create a user using groovy instead.
{%  for line in expanded_jenkins_users_passwords_api_token['results'] -%}
{%      if line['stdout'].split(' ')[0] == username -%}
{{ line['stdout'].split(' ')[1] -}}
{%      endif -%}
{%  endfor -%}
#}
{{ "NOTIMPLEMENTEDYET" -}}
{% endmacro -%}

<user>
  <fullName>{{ item.fullName }}</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{{ getApiToken(item.username) }}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>{{ item.passwordHash }}</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.12">
      <emailAddress>{{ item.emailAddress }}</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1442088709549</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>
