#!/bin/bash

# devpi caching platform
export PIP_INDEX_URL=http://{{devpi['host']}}:{{devpi['port']}}/root/pypi/+simple/
export TRUSTED_HOST={{devpi['host']}}"

# github credentials file
export GITHUB_STATUS_USERNAME=http://{{github_jenkins_credentials['username']}}
export GITHUB_STATUS_API_TOKEN={{github_jenkins_credentials['api_token']}}; 
export JENKINS_URL={{azulinho_jenkins_server['jenkins_url']}}"

