#!/bin/bash

export AWS_ACCESS_KEY={{ uft['tests']['aws_access_key'] |default('FAKE') }}
export AWS_SECRET_KEY={{ uft['tests']['aws_secret_key'] |default('FAKE') }}
export AWS_REGION={{ uft['tests']['aws_region'] |default('FAKE') }}
export AWS_AVAILABILITY_ZONE={{ uft['tests']['aws_availability_zone'] |default('FAKE') }}
export AWS_KEY_NAME={{ uft['tests']['aws_key_name'] |default(FAKE) }}
export PRIVATE_KEY={{ uft['tests']['private_key'] | default('FAKE') }}