<?xml version='1.0' encoding='UTF-8'?>
{% set cfg=azulinho_jenkins_server %}
<org.jenkinsci.plugins.slave__setup.SetupConfig plugin="slave-setup@1.9">
  <setupConfigItems>
    <org.jenkinsci.plugins.slave__setup.SetupConfigItem>
      <preLaunchScript>{{ cfg.slave_setup.preLaunchScript }}</preLaunchScript>
      <prepareScript>{{ cfg.slave_setup.prepareScript }}</prepareScript>
      <filesDir>{{ cfg.slave_setup.filesDir }}</filesDir>
      <commandLine>{{cfg.slave_setup.commandLine }}</commandLine>
      <deployNow>{{ cfg.slave_setup.deployNow }}</deployNow>
      <assignedLabelString>{{ cfg.slave_setup.assignedLabelString }}</assignedLabelString>
      <prepareScriptExecuted>{{ cfg.slave_setup.prepareScriptExecuted }}</prepareScriptExecuted>
    </org.jenkinsci.plugins.slave__setup.SetupConfigItem>
  </setupConfigItems>
</org.jenkinsci.plugins.slave__setup.SetupConfig>
